@use 'components/shared/styles/mixins' as *;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    overflow: visible;
    padding-bottom: 3.6rem;

    .deriv-header {
        background: var(--general-main-1);
        height: 4.9rem;
        flex-shrink: 0;

        @include mobile-or-tablet-screen {
            height: 4rem;
        }
    }

    &.quick-strategy-active {
        .deriv-header {
            @include mobile-or-tablet-screen {
                z-index: 10000;
            }
        }
    }
}

html,
body,
#root {
    min-height: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
